.startButton {
    padding: 100px 0;
    transform: scale(1.5);
}

.firstStepWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.firsStepButtons{
    display: flex; 
    justify-content: center; 
    gap: 16px;
}