* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --main-accent-color: rgb(20 189 107);
  --main-white-color: #ffffff;
  --main-focus-visible-color: rgb(248, 70, 70);

  /* Radii */
  --primary-border-radius: 4px;

  /* Text */
  --primary-text-color: rgba(14, 78, 37, 0.831);
  --secondary-text-color: rgb(68, 163, 70);
  --placeholder-text-color: rgba(182, 179, 179, 0.194);

  /* Inputs */
  --input-border: solid 1px var(--placeholder-text-color);
  --input-active-border: solid 1px var(--button-primary-bg);

  /* Buttons */
  --button-primary-text: #ffffff;
  --button-primary-bg: rgb(20 189 107);
  --button-primary-border: none;
  --button-primary-hover-shadow: 0px 1px 5px #6f6e6e66;
  --button-primary-active-shadow: inset 0px 0px 5px #00000040;

  --button-secondary-text: rgb(20 189 107);
  --button-secondary-hover-text: #ffffff;
  --button-secondary-bg: #ffffff;
  --button-secondary-hover-bg: rgb(20 189 107);
  --button-secondary-border: solid 1px rgb(20 189 107);
  --button-secondary-hover-shadow: 0px 1px 5px #6f6e6e66;
  --button-secondary-active-shadow: inset 0px 0px 5px #00000040;

  --button-disabled-bg: rgb(228 228 228);
  --button-disabled-color: #ffffff;

  --button-fontSize: 15px;
  --button-border-radius: 2px;
}
